<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="col-md-8" *ngIf="account$ | async as account">
            <h4 class="card-title">Cambio de contraseña</h4>

            <div class="alert alert-success" *ngIf="success">
              <strong>¡Contraseña actualizada!</strong>
            </div>

            <div class="alert alert-danger" *ngIf="error"><strong>Ha ocurrido un error.</strong> La contraseña actual es incorrecta.</div>

            <div class="alert alert-danger" *ngIf="doNotMatch">¡La confirmación de contraseña no coincide!</div>

            <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
              <div class="form-group">
                <label class="form-control-label" for="currentPassword">Contraseña actual</label>
                <input
                  type="password"
                  class="form-control"
                  id="currentPassword"
                  name="currentPassword"
                  formControlName="currentPassword"
                  data-cy="currentPassword"
                />

                <div
                  *ngIf="
                    passwordForm.get('currentPassword')!.invalid &&
                    (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)
                  "
                >
                  <small class="form-text text-danger" *ngIf="passwordForm.get('currentPassword')?.errors?.required">
                    La contraseña es requerida.
                  </small>
                </div>
              </div>

              <div class="form-group">
                <label class="form-control-label" for="newPassword">Contraseña nueva</label>
                <input
                  type="password"
                  class="form-control"
                  id="newPassword"
                  name="newPassword"
                  formControlName="newPassword"
                  data-cy="newPassword"
                />

                <div
                  *ngIf="
                    passwordForm.get('newPassword')!.invalid &&
                    (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
                  "
                >
                  <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required">
                    La contraseña es requerida.
                  </small>

                  <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                    La contraseña debe contener al menos 8 caracteres.
                  </small>

                  <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                    La contraseña no puede contener más de 50 carácteres.
                  </small>
                </div>
                <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.pattern">
                  El password debe contener al menos una letra en mayúscula, una letra en minúscula y un número.
                </small>

                <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
              </div>

              <div class="form-group">
                <label class="form-control-label" for="confirmPassword">Confirmar contraseña</label>
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  name="confirmPassword"
                  formControlName="confirmPassword"
                  data-cy="confirmPassword"
                />

                <div
                  *ngIf="
                    passwordForm.get('confirmPassword')!.invalid &&
                    (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
                  "
                >
                  <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                    La contraseña es requerida.
                  </small>

                  <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                    La contraseña debe contener al menos 8 caracteres.
                  </small>

                  <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                    La contraseña no puede contener más de 50 carácteres.
                  </small>
                </div>
                <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.pattern">
                  El password debe contener al menos una letra en mayúscula, una letra en minúscula y un número.
                </small>
              </div>

              <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" data-cy="submit">Cambiar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
