<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-order-heading" data-cy="OrderCreateUpdateHeading">Create or edit a Order</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_startDate">Start Date</label>
          <div class="input-group">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="text"
              class="form-control"
              name="startDate"
              ngbDatepicker
              #startDateDp="ngbDatepicker"
              formControlName="startDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_endDate">End Date</label>
          <div class="input-group">
            <input
              id="field_endDate"
              data-cy="endDate"
              type="text"
              class="form-control"
              name="endDate"
              ngbDatepicker
              #endDateDp="ngbDatepicker"
              formControlName="endDate"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_totalCost">Total Cost</label>
          <input type="number" class="form-control" name="totalCost" id="field_totalCost" data-cy="totalCost" formControlName="totalCost" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_comission">Comission</label>
          <input type="number" class="form-control" name="comission" id="field_comission" data-cy="comission" formControlName="comission" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_vehicle">Vehicle</label>
          <select class="form-control" id="field_vehicle" data-cy="vehicle" name="vehicle" formControlName="vehicle">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="vehicleOption.id === editForm.get('vehicle')!.value?.id ? editForm.get('vehicle')!.value : vehicleOption"
              *ngFor="let vehicleOption of vehiclesSharedCollection; trackBy: trackVehicleById"
            >
              {{ vehicleOption.plate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_operator">Operator</label>
          <select class="form-control" id="field_operator" data-cy="operator" name="operator" formControlName="operator">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('operator')!.value?.id ? editForm.get('operator')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_business">Business</label>
          <select class="form-control" id="field_business" data-cy="business" name="business" formControlName="business">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="businessOption.id === editForm.get('business')!.value?.id ? editForm.get('business')!.value : businessOption"
              *ngFor="let businessOption of businessesSharedCollection; trackBy: trackBusinessById"
            >
              {{ businessOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_status">Status</label>
          <select class="form-control" id="field_status" data-cy="status" name="status" formControlName="status">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="catalogOption.id === editForm.get('status')!.value?.id ? editForm.get('status')!.value : catalogOption"
              *ngFor="let catalogOption of catalogsSharedCollection; trackBy: trackCatalogById"
            >
              {{ catalogOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
