<div class="wrapper wrapper-full-page">
  <div class="full-page section-image" filter-color="black">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="content">
      <div class="container">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <jhi-alert-error></jhi-alert-error>

          <div class="alert alert-success" *ngIf="success">
            <span>La contraseña ha sido cambiada con éxito. Redirigiendo a inicio de sesión...</span>
          </div>

          <div class="alert alert-danger" *ngIf="initialized && !key">
            <strong>La llave para reiniciar la contraseña no se encuentra.</strong>
          </div>

          <div class="alert alert-warning" *ngIf="key && !success">
            <span>Elegir una contraseña nueva.</span>
          </div>

          <div class="alert alert-danger" *ngIf="error">
            <span>La contraseña no se pudo cambiar. La petición de cambiar contraseña solo es válida por 24 horas.</span>
          </div>

          <div class="alert alert-danger" *ngIf="doNotMatch">Las dos contraseñas no coinciden.</div>
          <form *ngIf="key && !success" class="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
            <div class="card card-login">
              <div class="card-header">
                <div class="card-header">
                  <h4 class="header text-center">Recuperar Contraseña</h4>
                </div>
              </div>
              <div class="card-body">
                <div class="input-group" [ngClass]="{ 'input-group-focus': focus1 === true }">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-key-25"></i>
                    </span>
                  </div>
                  <input
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                    type="password"
                    class="form-control"
                    id="newPassword"
                    name="newPassword"
                    placeholder="Nueva contraseña"
                    formControlName="newPassword"
                    data-cy="resetPassword"
                    #newPassword
                  />
                </div>

                <div
                  *ngIf="
                    passwordForm.get('newPassword')!.invalid &&
                    (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)
                  "
                >
                  <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.required">
                    La contraseña es requerida.
                  </small>

                  <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.minlength">
                    La contraseña debe tener al menos 8 carácteres.
                  </small>

                  <small class="form-text text-danger" *ngIf="passwordForm.get('newPassword')?.errors?.maxlength">
                    La contraseña no puede tener más de 8 carácteres.
                  </small>
                  <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></jhi-password-strength-bar>
                </div>

                <div class="input-group" [ngClass]="{ 'input-group-focus': focus1 === true }">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-key-25"></i>
                    </span>
                  </div>
                  <input
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                    type="password"
                    class="form-control"
                    id="confirmPassword"
                    name="confirmPassword"
                    placeholder="Confirmar contraseña"
                    formControlName="confirmPassword"
                    data-cy="confirmResetPassword"
                  />
                </div>

                <div
                  *ngIf="
                    passwordForm.get('confirmPassword')!.invalid &&
                    (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)
                  "
                >
                  <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.required">
                    La contraseña es requerida.
                  </small>

                  <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength">
                    La contraseña debe tener al menos 8 carácteres.
                  </small>

                  <small class="form-text text-danger" *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength">
                    La contraseña no puede tener más de 50 carácteres.
                  </small>
                </div>
                <br />
              </div>
              <div class="card-footer">
                <a>
                  <button
                    type="submit"
                    class="btn btn-warning btn-round btn-block mb-3"
                    [disabled]="passwordForm.invalid || isLoading"
                    data-cy="submit"
                  >
                    <fa-icon icon="sync" *ngIf="isLoading" [spin]="isLoading"></fa-icon>
                    Cambiar contraseña
                  </button>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="full-page-background" style="background-image: url('./content/images/workshop-background.jpg')"></div>
  </div>
</div>
