<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="order">
      <h2 data-cy="orderDetailsHeading"><span>Order</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ order.id }}</span>
        </dd>
        <dt><span>Start Date</span></dt>
        <dd>
          <span>{{ order.startDate | formatMediumDate }}</span>
        </dd>
        <dt><span>End Date</span></dt>
        <dd>
          <span>{{ order.endDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Total Cost</span></dt>
        <dd>
          <span>{{ order.totalCost }}</span>
        </dd>
        <dt><span>Comission</span></dt>
        <dd>
          <span>{{ order.comission }}</span>
        </dd>
        <dt><span>Vehicle</span></dt>
        <dd>
          <div *ngIf="order.vehicle">
            <a [routerLink]="['/vehicle', order.vehicle?.id, 'view']">{{ order.vehicle?.plate }}</a>
          </div>
        </dd>
        <dt><span>Operator</span></dt>
        <dd>
          <span>{{ order.operator?.id }}</span>
        </dd>
        <dt><span>Business</span></dt>
        <dd>
          <div *ngIf="order.business">
            <a [routerLink]="['/business', order.business?.id, 'view']">{{ order.business?.name }}</a>
          </div>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <div *ngIf="order.status">
            <a [routerLink]="['/catalog', order.status?.id, 'view']">{{ order.status?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/order', order.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
