<div class="row">
  <div class="col-lg-12">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
    </div>
    <div class="modal-body">
      <div class="card card-pricing">
        <div class="card-header">
          <h4>Servicio Recomendado</h4>
          <div class="card-icon icon-primary">
            <i class="nc-icon nc-settings"></i>
          </div>
        </div>
        <div class="card-body">
          <h6 class="text-danger">{{ warning }}</h6>
          <p>{{ p1 }}</p>
          <p>{{ p2 }}</p>
          <p>Allí podrá visualizar diversos comercios y los servicios ofrecidos por cada uno.</p>
        </div>
        <div class="card-footer">
          <a class="btn btn-round btn-primary" (click)="confirmDelete()">Visualizar comercios</a>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <!--    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">-->
      <!--      <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>-->
      <!--    </button>-->
    </div>
  </div>
</div>
