<nav #navbar class="navbar navbar-expand-lg navbar-absolute" [ngClass]="{ 'bg-white': account !== null }">
  <a class="navbar-brand logo" routerLink="/dashboard" (click)="collapseNavbar()" *ngIf="account !== null">
    <span class="logo-img"></span>
    <span class="navbar-title">Squid</span>
  </a>
  <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()" *ngIf="account === null">
    <span class="logo-img"></span>
    <span class="navbar-title">Squid</span>
  </a>
  <a
    class="navbar-toggler d-lg-none"
    href="javascript:void(0);"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleNavbar()"
  >
    <fa-icon icon="bars"></fa-icon>
  </a>
  <div
    class="navbar-collapse collapse justify-content-end"
    id="navbarResponsive"
    [ngbCollapse]="isNavbarCollapsed"
    [ngSwitch]="account !== null"
  >
    <ul class="navbar-nav ml-auto">
      <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
      <li
        [hidden]="true"
        *ngSwitchCase="true"
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
          <span>
            <fa-icon icon="th-list"></fa-icon>
            <span>Entidades</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
          <li>
            <a
              class="dropdown-item"
              routerLink="user-details"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>User Details</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="business"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Business</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="vehicle"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Vehicle</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="location"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Location</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="schedule"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Schedule</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="catalog"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Catalog</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="file"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>File</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="seo-record"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Seo Record</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="transaction"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Transaction</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="cat-service"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Cat Service</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="app"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>APP</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="order"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Order</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="order-rating"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Order Rating</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="service-order"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Service Order</span>
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              routerLink="business-service"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              (click)="collapseNavbar()"
            >
              <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
              <span>Business Service</span>
            </a>
          </li>
          <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
        </ul>
      </li>
      <li
        [hidden]="true"
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
          <span>
            <fa-icon icon="users-cog"></fa-icon>
            <span>Administración</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
          <li>
            <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
              <span>User management</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
              <span>Metrics</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
              <span>Health</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
              <span>Configuration</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
              <span>Logs</span>
            </a>
          </li>
          <li *ngIf="openAPIEnabled">
            <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
              <span>API</span>
            </a>
          </li>
          <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
        </ul>
      </li>
      <li
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          class="nav-link dropdown-toggle"
          ngbDropdownToggle
          href="javascript:void(0);"
          id="account-menu"
          data-cy="accountMenu"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <span *ngIf="!account?.imageUrl">
            <fa-icon icon="user"></fa-icon>
            <span>Cuenta</span>
          </span>
          <span *ngIf="account?.imageUrl">
            <img [src]="account!.imageUrl" class="profile-image2 rounded-circle" alt="Avatar" />
            <span>Sesión</span>
          </span>
          <!--          <span class="profile-image2" [ngStyle]="{'background':'url('+account!.imageUrl+')'}"></span>-->
        </a>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a *ngSwitchCase="true" class="dropdown-item" routerLink="account/password" (click)="collapseNavbar()" data-cy="passwordItem">
            <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
            <span>Cambiar contraseña</span>
          </a>
          <a *ngSwitchCase="true" class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
            <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
            <span>Cerrar sesión</span>
          </a>
          <a *ngSwitchCase="false" class="dropdown-item" (click)="login()" id="login" data-cy="login">
            <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
            <span>Iniciar sesión</span>
          </a>
          <a
            *ngSwitchCase="false"
            class="dropdown-item"
            routerLink="account/register"
            routerLinkActive="active"
            (click)="collapseNavbar()"
            data-cy="register"
          >
            <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
            <span>Registrarse</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
