<div class="wrapper wrapper-full-page">
  <div class="full-page section-image" filter-color="black">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="content">
      <div class="container">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <jhi-alert-error></jhi-alert-error>

          <div class="alert alert-default" *ngIf="!success">
            <span>Ingresar el correo electrónico con el que está registrado.</span>
          </div>

          <div class="alert alert-success" *ngIf="success">
            <span>Revisar el correo enviado para mas instrucciones en como recuperar la contraseña.</span>
          </div>

          <form *ngIf="!success" class="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
            <div class="card card-login">
              <div class="card-header">
                <div class="card-header">
                  <h4 class="header text-center">Recuperar Contraseña</h4>
                </div>
              </div>
              <div class="card-body">
                <div class="input-group" [ngClass]="{ 'input-group-focus': focus1 === true }">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-email-85"></i>
                    </span>
                  </div>
                  <input
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Correo electrónico"
                    formControlName="email"
                    data-cy="emailResetPassword"
                    #email
                  />
                </div>

                <div
                  *ngIf="
                    resetRequestForm.get('email')!.invalid &&
                    (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
                  "
                >
                  <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.required">
                    El correo es requerido.
                  </small>

                  <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.email"> El correo es inválido. </small>

                  <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.minlength">
                    El correo debe tener al menos 5 carácteres.
                  </small>

                  <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.maxlength">
                    El correo no puede ser más de 100 carácteres.
                  </small>
                </div>
                <br />
              </div>
              <div class="card-footer">
                <a>
                  <button
                    type="submit"
                    class="btn btn-warning btn-round btn-block mb-3"
                    [disabled]="resetRequestForm.invalid || isLoading"
                    data-cy="submit"
                  >
                    <fa-icon icon="sync" *ngIf="isLoading" [spin]="isLoading"></fa-icon>
                    Enviar correo con contraseña
                  </button>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="full-page-background" style="background-image: url('./content/images/workshop-background.jpg')"></div>
  </div>
</div>
