<div class="main-banner item-bg-one">
  <div class="d-table">
    <div class="d-table-cell">
      <div class="container">
        <div class="main-banner-text">
          <h4>¡Reparamos juntos!</h4>
          <div>
            <div data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="1500">
              <h1>Somos <span>Squid</span></h1>
            </div>
          </div>
          <p>Toda la gestión del mantenimiento de su vehículo en un mismo lugar.</p>
          <a routerLink="account/register" routerLinkActive="active" class="btn btn-primary">Empezar</a>
          <a (click)="onClick('welcome')" class="btn btn-primary view-work">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="welcome" class="welcome-area pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <h4>Somos un equipo</h4>
      <h2>Bienvenido a <span>Squid</span></h2>
      <p>
        Somos una aplicación que le permitirá acceder a servicios para el mantenimiento, reparación y limpieza de su vehículo de una forma
        fácil y segura.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-who-we-are">
          <i class="fas fa-users"></i>
          <h3>Somos Excelencia</h3>
          <p>Encuentre los mejores talleres de mecánica automotriz calificados a través de nuestra aplicación.</p>
          <span>1</span>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-who-we-are">
          <i class="far fa-lightbulb"></i>
          <h3>Somos Eficiencia</h3>
          <p>Solicite citas en línea en cualquier taller mecánico o centro de lavado de una manera fácil y rápida.</p>
          <span>2</span>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-who-we-are">
          <i class="fas fa-tag"></i>
          <h3>Somos Monitoreo</h3>
          <p>Monitoree el proceso de reparación, mantenimiento o limpieza a través de Squid.</p>
          <span>3</span>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-who-we-are">
          <i class="far fa-hand-scissors"></i>
          <h3>Somos Control</h3>
          <p>Cuente con un historial completo de reparaciones realizadas a su vehículo en un mismo lugar.</p>
          <span>4</span>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-who-we-are">
          <i class="fab fa-linode"></i>
          <h3>Somos Seguridad</h3>
          <p>Realice el pago de los servicios de su taller de preferencia de una manera segura y fácil.</p>
          <span>5</span>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-who-we-are">
          <i class="far fa-life-ring"></i>
          <h3>Somos Agilidad</h3>
          <p>Agilice el proceso de reparación a través de aseguradoras con nuestra aplicación.</p>
          <span>6</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="services" class="services-area pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <h2>Nuestros <span>Servicios</span></h2>
      <p>
        Squid es una aplicación web que le permite acceder de forma rápida y eficiente a servicios de mecánica automotriz y lavado de autos.
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-img">
            <img id="imgService1" src="assets/img/services-img1.jpg" alt="services-img" />
            <div class="icon">
              <i class="fas fa-desktop"></i>
            </div>
          </div>
          <div class="services-content">
            <h3>Citas en línea</h3>
            <p>Solicite citas para mantenimiento, reparación o limpieza de su vehículo desde cualquier lugar del país.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-img">
            <img id="imgService2" src="assets/img/services-img2.jpg" alt="services-img" />
            <div class="icon">
              <i class="fab fa-linode"></i>
            </div>
          </div>
          <div class="services-content">
            <h3>Reparación de daños</h3>
            <p>Squid le permite agilizar el proceso de reparación de su vehículo con su aseguradora.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <div class="services-img">
            <img id="imgService3" src="assets/img/services-img3.jpg" alt="services-img" />
            <div class="icon">
              <i class="fas fa-pencil-alt"></i>
            </div>
          </div>
          <div class="services-content">
            <h3>Monitoreo de su auto</h3>
            <p>A través de Squid usted podrá monitorear el proceso de su vehículo en el taller mecánico.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="how-work-area pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <h2>¿Cómo funciona <span>Squid?</span></h2>
      <p>Accede a diferentes tipos de servicios para tu vehículo de una manera fácil, segura y eficiente.</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-how-work">
          <div class="icon">
            <i class="fas fa-info-circle"></i>
          </div>
          <h3>Solicita una cita</h3>
          <p>Busca el taller o lavacar de tu preferencia de acuerdo a las necesidades de tu vehículo o comentarios de otros usuarios.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-how-work">
          <div class="icon">
            <i class="fas fa-drafting-compass"></i>
          </div>
          <h3>Monitorea el proceso</h3>
          <p>Monitorea desde nuestra aplicación el proceso de reparación, mantenimiento o limpieza de tu vehículo.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="single-how-work">
          <div class="icon">
            <i class="far fa-paper-plane"></i>
          </div>
          <h3>Realiza el pago</h3>
          <p>
            A través de nuestra aplicación puedes realizar el pago de los servicios accedidos y calificar el comercio según tu experiencia.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="contact" class="contact-area ptb-100 bg-F7F5F4">
  <div class="container">
    <div class="section-title">
      <h2>Contáctanos</h2>
      <p>Si necesitas ayuda ponte en contacto con nuestro equipo de soporte y con mucho gusto te ayudaremos.</p>
    </div>
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <div class="contact-info">
          <div class="d-table">
            <div class="d-table-cell">
              <ul>
                <li><i class="fas fa-map-marker-alt"></i> <span>Ubicación:</span>San José, Costa Rica.</li>
                <li>
                  <i class="far fa-envelope"></i> <a href="mailto:hello@xavro.com"><span>Email:</span>squid-soporte@squid.com</a>
                </li>
                <li>
                  <i class="fas fa-phone-alt"></i> <a href="tel:1244122445515"><span>Teléfono:</span>(+506)200-4445</a>
                </li>
                <li>
                  <i class="fas fa-fax"></i> <a href="tel:61724160055"><span>Fax:</span>+506-241-6055</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12">
        <div data-aos="zoom-in" data-aos-duration="1500">
          <img id="logosquid" src="assets/img/logosquid.jpg" alt="services-img" />
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer-area">
  <div class="container">
    <h3>
      <a routerLink="/">Squid</a>
    </h3>
    <ul>
      <li><a href="#" target="_blank" class="fab fa-facebook-f"></a></li>
      <li><a href="#" target="_blank" class="fab fa-twitter"></a></li>
      <li><a href="#" target="_blank" class="fab fa-instagram"></a></li>
    </ul>
    <p>Copyright <i class="far fa-copyright"></i> 2021 All Rights Reserved.</p>
  </div>
</footer>
